.modal-box {
  min-height: 220px;
  width: 100%;
  max-width: 580px;
  background-color: #fff;
  border-radius: 5px;
  // text-align: center;
  padding: 35px;
}

.createBtn {
  background-color: #1abc9c;
  color: white;
  border-radius: 5px;
}

.notification {
  padding: .25rem .5rem;
  margin: 8px 0;
}
